# Environment variables
.env*
!.env.example
!.env.vault

# testing
coverage
/coverage

# misc
.DS_Store
*.pem

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
*.null-ls*

# templates
.github/templates/*
# macOS
**/.DS_store

# Go builds
**/app/
**/build/

# Temporary files
tmp/

# Files
*.out

